* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: white; */
}

.cards {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  min-height: 100vh;
  background-image: url(image.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  font-family: helvetica;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.wrapper .box {
  width: 400px;
  height: 400px;
  border-radius: 15px;
  transition: transform 500ms ease-out;
  overflow: hidden;
  color: #fff;
  padding: 5%;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.box h2 {
  font-size: 25px;
  margin-bottom: 3px;
  color: rgba(61, 31, 4, 0.753);
}

/* id banana he h2 ka */

.box p {
  line-height: 1.8;
  /* color: rgba(255, 255, 255, 0.6); */
  color: black;
}

.box a {
  border: none;
  background: #fff;
  padding: 15px 50px;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 50px;
}

.wrapper .box:before {
  content: "";
  background: rgba(255, 255, 255, 0.4);
  width: 60%;
  height: 100%;
  top: 0%;
  left: -125%;
  transform: skew(45deg);
  position: absolute;
  animation-direction: left;
  transition-duration: 500ms;
}

.wrapper .box:hover {
  transform: translateY(-5%);
}
.wrapper .box:hover::before {
  left: 150%;
}
