* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: white; */
}

.cards {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  min-height: 100vh;
  background-image: url(../images/image.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  font-family: helvetica;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.wrapper .box {
  width: 400px;
  height: 330px;
  border-radius: 15px;
  transition: transform 500ms ease-out;
  overflow: hidden;
  color: #fff;
  padding: 5%;
  text-align: center;
  background: rgba(255, 255, 255, 0.171);
  backdrop-filter: blur(30px);
  border: 2px solid rgba(255, 255, 255, 0.253);
}

.box h2 {
  font-size: 25px;
  margin-bottom: 3px;
  color: rgb(255, 255, 255);
}

.box p {
  line-height: 1.8;
  /* color: rgba(255, 255, 255, 0.6); */
  color: rgba(255, 255, 255, 0.87);
}
.box ul {
  list-style-type: none;
  margin: 0;
  padding: 1%;
  color: rgba(255, 255, 255, 0.705);
}

.box a {
  background: rgba(197, 197, 197, 0.336);
  padding: 15px 50px;
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.884);
  border: 1px solid rgba(255, 255, 255, 0.253);
}

#center {
  height: 500px;
}

.wrapper .box:before {
  content: "";
  background: rgba(255, 255, 255, 0.226);
  width: 30%;
  height: 100%;
  top: 0%;
  left: -165%;
  transform: skew(30deg);
  position: absolute;
  animation-direction: left;
  transition-duration: 500ms;
}

#center {
  transform: translateY(-3%);
}

#center:hover {
  transform: translateY(-6%);
}

.wrapper .box:hover::before {
  left: 150%;
}

.img-area {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
}

.img-area img {
  width: 112%;
}

#side {
  transform: translateY(20%);
}
#side:hover {
  transform: translateY(16%);
}
/* 
testing again  */
