* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: white; */
}

.cards {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  min-height: 100vh;
  background-image: url(../images/image.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  font-family: helvetica;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.wrapper .box {
  width: 390px;
  height: 330px;
  border-radius: 15px;
  transition: transform 500ms ease-out;
  overflow: hidden;
  color: #fff;
  padding: 5%;
  text-align: center;
  /* background: rgba(20, 20, 20, 0.383); */
  background: linear-gradient(150deg, #24232394 10%, #1d141d11 100%, #201b202f 100%);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(10px);
  /* filter: blur(3px); */
  /* border: 2px solid rgba(255, 255, 255, 0.253); */

  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.box h2 {
  font-size: 25px;
  margin-bottom: 3px;
  color: rgb(255, 255, 255);
}

.box p {
  line-height: 1.8;
  /* color: rgba(255, 255, 255, 0.6); */
  color: rgba(255, 255, 255, 0.87);
}
.box ul {
  list-style-type: none;
  margin: 0;
  padding: 1%;
  color: rgba(255, 255, 255, 0.705);
}

.box a {
  background: rgba(255, 255, 255, 0.247);
  padding: 15px 50px;
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 50px;
  color: rgba(255, 255, 255, 0.877);
  /* border: 1px solid rgba(102, 96, 96, 0.726); */
  
}

#center {
  margin-top: -90px;
  height: 500px;
  filter: blur(0px);
  transform-style: preserve-3d;
}

 /* #side:hover {
  transform: translateY(16%); 
  filter: blur(0px);
  transition-duration: 100ms;
  transition: 500ms -webkit-filter linear;
} */

.wrapper .box:before {
  content: "";
  background: rgba(255, 255, 255, 0.226);
  width: 30%;
  height: 100%;
  top: 0%;
  left: -165%;
  transform: skew(30deg);
  position: absolute;
  animation-direction: left;
  transition-duration: 700ms;
  filter:blur(10px);
}


/* #center:hover {
  transform: translateY(-6%);
} */

.wrapper .box:hover::before {
  left: 150%;
}

.img-area {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
}

.img-area img {
  width: 112%;
}
/* 
#side {
  transform: translateY(20%);
} */
/* 
testing again  */
